html {
    background-color: white;
}

.rounded-corners {
    width: 30%;
}

.headerapp {
    text-align: center;
    margin: 0px 260px 0px 260px;
    padding: 1em 0px 1em 0px;
    border-radius: 6px;
    background-color: #F4F3EF;  
    border: solid #bc5a45 1px;
}

.homecontent {
    margin: 3em auto;
    width: 100%;
    border: 3px solid white;
    padding: 10px;
}

.homecontent p {
    margin-top: 1em;
    margin-bottom: 5em;
    font-size: 2em;
    text-align: justify;
}
  
.h1-header {
    font-family: "Oxygen", sans-serif;
    color: #DAA520;
    font-size: 4em;
    font-family: impact;
    margin:5px 0px 0px 0px;
    line-height:60px;
}

#h1-header2 {
    font-family: impact;
    color: #DAA520;
    font-size: 3em;
    margin:0px 0px 0px 0px;
    line-height:60px;
    text-align: center;
}

.h2-header {
    margin:10px 0px 0px 0px;
    line-height:35px;
}

  